<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388769316369-5o6mgiaius6q4406nq1qse6fdho6t0nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388769316369-5o6mgiaius6q4406nq1qse6fdho6t0nv</string>
	<key>API_KEY</key>
	<string>AIzaSyBhsnQsGcDEbHEWraLVLetwBX0AShhIoBM</string>
	<key>GCM_SENDER_ID</key>
	<string>388769316369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dajun.SmoothSettle</string>
	<key>PROJECT_ID</key>
	<string>smoothsettle</string>
	<key>STORAGE_BUCKET</key>
	<string>smoothsettle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388769316369:ios:f001a7d28096367ed33bb0</string>
</dict>
</plist>